.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fafafa;
  }
  
  .loginContainer {
    margin-top: 20px;
  }
  
  .leftPanel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    width: 70%;
    margin-bottom: 20px;
  }
  
  .loginForm {
    width: 80%;
  }
  
  .textField {
    margin-bottom: 15px;
  }
  
  .loginButton {
    margin-top: 16px;
    text-transform: none;
    box-shadow: none;
  }
  
  .loginButton:hover {
    background-color: #2e77d0;
    box-shadow: none;
  }
  
  .rightPanel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .phoneImage {
    max-width: 100%;
    height: auto;
  }
  
  .loginContainer .leftPanel img,
  .loginContainer .rightPanel img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .signupButton {
    /* Autres styles */
    background-color: #7e57c2; /* Couleur mauve */
    transition: background-color 0.3s ease; /* Transition fluide */
  }
  
  .signupButton:hover {
    background-color: #5e35b1; /* Couleur mauve plus sombre au survol */
  }
  